@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content-wrapper {
    padding: 0 !important;
    overflow: hidden;
}

.leaflet-popup-content {
    margin: 0 !important;
    width: 100% !important;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
