@tailwind base;
@tailwind components;
@tailwind utilities;

#big_map > div > div.card {
    width: auto !important;
}

#big_map > div > div.card > div.card-body {
    display: none !important;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}